In [ ]:
#!pip install pymongo

In [1]:
import pandas as pd
import os
import time
from pymongo import MongoClient

# https://api.mongodb.com/python/current/tutorial.html
# in a shell run 'docker run -p 27017:27017 --name jupyter-mongo -d mongo'
# https://api.mongodb.com/python/current/api/pymongo/index.html

In [2]:
client = MongoClient('localhost', 27017)

In [3]:
db = client.test_database

In [4]:
import datetime

In [5]:
post = {"author": "Mike", "text": "My first blog post!", "tags": ["mongodb", "python", "pymongo"],
        "date": datetime.datetime.utcnow()}

In [6]:
posts = db.posts

In [7]:
post_id = posts.insert_one(post).inserted_id

In [8]:
post_id

ObjectId('5c06bbbc66267d29e44ba838')

In [9]:
db.collection_names(include_system_collections=False)

['posts']

In [10]:
posts.find_one()

{'_id': ObjectId('5c06bbbc66267d29e44ba838'),
 'author': 'Mike',
 'date': datetime.datetime(2018, 12, 4, 17, 39, 5, 20000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

In [11]:
post = {"author": "Mike", "text": "My second blog post!", "tags": ["mongodb", "python", "pymongo"],
        "date": datetime.datetime.utcnow()}
post_id = posts.insert_one(post).inserted_id

In [12]:
post = {"author": "Stacy", "text": "My third blog post!", "tags": ["mongodb", "python", "pymongo"],
        "date": datetime.datetime.utcnow()}
post_id = posts.insert_one(post).inserted_id

In [45]:
s1 = posts.find({"author": "Mike" })
s2 = posts.find({"author": "Stacy" })
s3 = posts.find({"text": {'$regex':'blog'} }) # note need regex for like matching
s4 = posts.find({"tags": "python" })

In [46]:
for i in s1:
    print(i)

{'_id': ObjectId('5c06bbbc66267d29e44ba838'), 'author': 'Mike', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 17, 39, 5, 20000)}
{'_id': ObjectId('5c06bc1066267d29e44ba839'), 'author': 'Mike', 'text': 'My second blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 17, 40, 32, 166000)}

In [47]:
for i in s2:
    print(i)

{'_id': ObjectId('5c06bc2266267d29e44ba83a'), 'author': 'Stacy', 'text': 'My third blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 17, 40, 50, 789000)}

In [48]:
for i in s3:
    print(i)

{'_id': ObjectId('5c06bbbc66267d29e44ba838'), 'author': 'Mike', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 17, 39, 5, 20000)}
{'_id': ObjectId('5c06bc1066267d29e44ba839'), 'author': 'Mike', 'text': 'My second blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 17, 40, 32, 166000)}
{'_id': ObjectId('5c06bc2266267d29e44ba83a'), 'author': 'Stacy', 'text': 'My third blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 17, 40, 50, 789000)}

In [49]:
for i in s4:
    print(i)

{'_id': ObjectId('5c06bbbc66267d29e44ba838'), 'author': 'Mike', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 17, 39, 5, 20000)}
{'_id': ObjectId('5c06bc1066267d29e44ba839'), 'author': 'Mike', 'text': 'My second blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 17, 40, 32, 166000)}
{'_id': ObjectId('5c06bc2266267d29e44ba83a'), 'author': 'Stacy', 'text': 'My third blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 17, 40, 50, 789000)}

## CRUD

In [50]:
# create and read are demonstrated above

db.get_collection('posts')

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database'), 'posts')

In [51]:
db.list_collection_names()

['posts']

In [52]:
db.list_collections()

In [53]:
posts.name

'posts'

In [54]:
posts.database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database')

In [57]:
# Update one

update = db.posts.update_one({"author": "Mike"}, {'$set': {'author': 'Michael'}})

In [58]:
for post in db.posts.find():
    print(post)

{'_id': ObjectId('5c06bbbc66267d29e44ba838'), 'author': 'Michael', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 17, 39, 5, 20000)}
{'_id': ObjectId('5c06bc1066267d29e44ba839'), 'author': 'Mike', 'text': 'My second blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 17, 40, 32, 166000)}
{'_id': ObjectId('5c06bc2266267d29e44ba83a'), 'author': 'Stacy', 'text': 'My third blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 17, 40, 50, 789000)}

In [59]:
update = db.posts.update_one({"author": "Mike"}, {'$set': {'text': 'One of many blog posts!'}})

In [60]:
for post in db.posts.find():
    print(post)

{'_id': ObjectId('5c06bbbc66267d29e44ba838'), 'author': 'Michael', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 17, 39, 5, 20000)}
{'_id': ObjectId('5c06bc1066267d29e44ba839'), 'author': 'Mike', 'text': 'One of many blog posts!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 17, 40, 32, 166000)}
{'_id': ObjectId('5c06bc2266267d29e44ba83a'), 'author': 'Stacy', 'text': 'My third blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 17, 40, 50, 789000)}

In [64]:
update = db.posts.update_many({"tags": "mongodb"}, { '$addToSet': { 'tags': 'noSQL'} })

In [65]:
for post in db.posts.find():
    print(post)

{'_id': ObjectId('5c06bbbc66267d29e44ba838'), 'author': 'Michael', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo', 'noSQL'], 'date': datetime.datetime(2018, 12, 4, 17, 39, 5, 20000)}
{'_id': ObjectId('5c06bc1066267d29e44ba839'), 'author': 'Mike', 'text': 'One of many blog posts!', 'tags': ['mongodb', 'python', 'pymongo', 'noSQL'], 'date': datetime.datetime(2018, 12, 4, 17, 40, 32, 166000)}
{'_id': ObjectId('5c06bc2266267d29e44ba83a'), 'author': 'Stacy', 'text': 'My third blog post!', 'tags': ['mongodb', 'python', 'pymongo', 'noSQL'], 'date': datetime.datetime(2018, 12, 4, 17, 40, 50, 789000)}

In [68]:
update = db.posts.update_many({"tags": "mongodb"}, { '$currentDate': { 'date': True }})

In [69]:
for post in db.posts.find():
    print(post)

{'_id': ObjectId('5c06bbbc66267d29e44ba838'), 'author': 'Michael', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo', 'noSQL'], 'date': datetime.datetime(2018, 12, 4, 18, 20, 9, 876000)}
{'_id': ObjectId('5c06bc1066267d29e44ba839'), 'author': 'Mike', 'text': 'One of many blog posts!', 'tags': ['mongodb', 'python', 'pymongo', 'noSQL'], 'date': datetime.datetime(2018, 12, 4, 18, 20, 9, 876000)}
{'_id': ObjectId('5c06bc2266267d29e44ba83a'), 'author': 'Stacy', 'text': 'My third blog post!', 'tags': ['mongodb', 'python', 'pymongo', 'noSQL'], 'date': datetime.datetime(2018, 12, 4, 18, 20, 9, 876000)}