In [77]:
#!pip install pymongo

In [78]:
import pandas as pd
import os
import time
from pymongo import MongoClient

# https://api.mongodb.com/python/current/tutorial.html
# in a shell run 'docker run -p 27017:27017 --name jupyter-mongo -d mongo'
# https://api.mongodb.com/python/current/api/pymongo/index.html

In [79]:
client = MongoClient('localhost', 27017)

In [80]:
db = client.test_database

In [81]:
import datetime

In [82]:
post = {"author": "Mike", "text": "My first blog post!", "tags": ["mongodb", "python", "pymongo"],
        "date": datetime.datetime.utcnow()}

In [83]:
posts = db.posts

In [84]:
post_id = posts.insert_one(post).inserted_id

In [85]:
post_id

ObjectId('5c06c6df66267d29e44ba83c')

In [86]:
db.collection_names(include_system_collections=False)

['posts']

In [87]:
posts.find_one()

{'_id': ObjectId('5c06c6df66267d29e44ba83c'),
 'author': 'Mike',
 'date': datetime.datetime(2018, 12, 4, 18, 26, 39, 527000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

In [88]:
post = {"author": "Mike", "text": "My second blog post!", "tags": ["mongodb", "python", "pymongo"],
        "date": datetime.datetime.utcnow()}
post_id = posts.insert_one(post).inserted_id

In [89]:
post = {"author": "Stacy", "text": "My third blog post!", "tags": ["mongodb", "python", "pymongo"],
        "date": datetime.datetime.utcnow()}
post_id = posts.insert_one(post).inserted_id

In [90]:
s1 = posts.find({"author": "Mike" })
s2 = posts.find({"author": "Stacy" })
s3 = posts.find({"text": {'$regex':'blog'} }) # note need regex for like matching
s4 = posts.find({"tags": "python" })

In [91]:
for i in s1:
    print(i)

{'_id': ObjectId('5c06c6df66267d29e44ba83c'), 'author': 'Mike', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 39, 527000)}
{'_id': ObjectId('5c06c6e066267d29e44ba83d'), 'author': 'Mike', 'text': 'My second blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 40, 376000)}

In [92]:
for i in s2:
    print(i)

{'_id': ObjectId('5c06c6e066267d29e44ba83e'), 'author': 'Stacy', 'text': 'My third blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 40, 431000)}

In [93]:
for i in s3:
    print(i)

{'_id': ObjectId('5c06c6df66267d29e44ba83c'), 'author': 'Mike', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 39, 527000)}
{'_id': ObjectId('5c06c6e066267d29e44ba83d'), 'author': 'Mike', 'text': 'My second blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 40, 376000)}
{'_id': ObjectId('5c06c6e066267d29e44ba83e'), 'author': 'Stacy', 'text': 'My third blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 40, 431000)}

In [94]:
for i in s4:
    print(i)

{'_id': ObjectId('5c06c6df66267d29e44ba83c'), 'author': 'Mike', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 39, 527000)}
{'_id': ObjectId('5c06c6e066267d29e44ba83d'), 'author': 'Mike', 'text': 'My second blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 40, 376000)}
{'_id': ObjectId('5c06c6e066267d29e44ba83e'), 'author': 'Stacy', 'text': 'My third blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 40, 431000)}

## CRUD

In [95]:
# create and read are demonstrated above

db.get_collection('posts')

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database'), 'posts')

In [96]:
db.list_collection_names()

['posts']

In [97]:
db.list_collections()

In [98]:
posts.name

'posts'

In [99]:
posts.database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database')

In [100]:
# Update one

update = db.posts.update_one({"author": "Mike"}, {'$set': {'author': 'Michael'}})

In [101]:
for post in db.posts.find():
    print(post)

{'_id': ObjectId('5c06c6df66267d29e44ba83c'), 'author': 'Michael', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 39, 527000)}
{'_id': ObjectId('5c06c6e066267d29e44ba83d'), 'author': 'Mike', 'text': 'My second blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 40, 376000)}
{'_id': ObjectId('5c06c6e066267d29e44ba83e'), 'author': 'Stacy', 'text': 'My third blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 40, 431000)}

In [102]:
update = db.posts.update_one({"author": "Mike"}, {'$set': {'text': 'One of many blog posts!'}})

In [103]:
for post in db.posts.find():
    print(post)

{'_id': ObjectId('5c06c6df66267d29e44ba83c'), 'author': 'Michael', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 39, 527000)}
{'_id': ObjectId('5c06c6e066267d29e44ba83d'), 'author': 'Mike', 'text': 'One of many blog posts!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 40, 376000)}
{'_id': ObjectId('5c06c6e066267d29e44ba83e'), 'author': 'Stacy', 'text': 'My third blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 40, 431000)}

In [104]:
update = db.posts.update_many({"tags": "mongodb"}, { '$addToSet': { 'tags': 'noSQL'} })

In [105]:
for post in db.posts.find():
    print(post)

{'_id': ObjectId('5c06c6df66267d29e44ba83c'), 'author': 'Michael', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo', 'noSQL'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 39, 527000)}
{'_id': ObjectId('5c06c6e066267d29e44ba83d'), 'author': 'Mike', 'text': 'One of many blog posts!', 'tags': ['mongodb', 'python', 'pymongo', 'noSQL'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 40, 376000)}
{'_id': ObjectId('5c06c6e066267d29e44ba83e'), 'author': 'Stacy', 'text': 'My third blog post!', 'tags': ['mongodb', 'python', 'pymongo', 'noSQL'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 40, 431000)}

In [106]:
update = db.posts.update_many({"tags": "mongodb"}, { '$currentDate': { 'date': True }})

In [107]:
for post in db.posts.find():
    print(post)

{'_id': ObjectId('5c06c6df66267d29e44ba83c'), 'author': 'Michael', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo', 'noSQL'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 41, 477000)}
{'_id': ObjectId('5c06c6e066267d29e44ba83d'), 'author': 'Mike', 'text': 'One of many blog posts!', 'tags': ['mongodb', 'python', 'pymongo', 'noSQL'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 41, 477000)}
{'_id': ObjectId('5c06c6e066267d29e44ba83e'), 'author': 'Stacy', 'text': 'My third blog post!', 'tags': ['mongodb', 'python', 'pymongo', 'noSQL'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 41, 477000)}

In [108]:
# Delete

delete = db.posts.delete_one({'tags': 'python'})

In [109]:
for post in db.posts.find():
    print(post)

{'_id': ObjectId('5c06c6e066267d29e44ba83d'), 'author': 'Mike', 'text': 'One of many blog posts!', 'tags': ['mongodb', 'python', 'pymongo', 'noSQL'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 41, 477000)}
{'_id': ObjectId('5c06c6e066267d29e44ba83e'), 'author': 'Stacy', 'text': 'My third blog post!', 'tags': ['mongodb', 'python', 'pymongo', 'noSQL'], 'date': datetime.datetime(2018, 12, 4, 18, 26, 41, 477000)}

In [110]:
delete = db.posts.delete_many({'tags': 'python'})

In [111]:
for post in db.posts.find():
    print(post)

In [112]:
db.drop_collection('posts')

{'nIndexesWas': 1, 'ns': 'test_database.posts', 'ok': 1.0}

In [114]:
db.dropDatabase

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database'), 'dropDatabase')

In [117]:
client.database_names()

['admin', 'config', 'local']